__pycache__
.vscode/
.ropeproject/
.venv/
.mypy_cache/
pyrightconfig.json
stubs/
typings/
*.pdf
*.json
api_keys
vector_store.pkl
faiss_index
.zed
*.log
*.gz
ollama_embed_data/
ollama_llm_data/
tree.txt
volumes/

